<div class="alert alert-danger" role="alert" ng-show="invalidLogin">Oh snap! Email and password combination not recognised</div>

<form class="form-signin" role="form" ng-submit="login()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="loginModel.email">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="loginModel.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
        <span>Sign in</span>
    </button>
</form>

<h3>Logins - (the password does not matter you can enter anything)</h3>
<p>Admin User: admin@test.com</p>
<p>Manager User: manager@test.com</p>
<p>Normal User: user@test.com</p>